html {
}

body {
    font-family:"epilogue", sans-serif;
    height:1000vh;
}
:root {
    --um-primary-color:#fdc609;
}
/****************
     Header
***************/
.um-header {
    width:100%; min-height:40px;
    padding-top:20px; padding-bottom:20px;
}


/****************
     Banner
***************/
.um-banner {}

.um-banner-top:before {
    content:"";
    position:absolute; top:0;left:0;bottom:0;right:0;
    background:linear-gradient(0deg, rgba(1, 1, 1, 0.6), rgba(255, 255, 255, 0));
}

.um-banner .um-img-wrapper {
    aspect-ratio:1440/765;
}

.um-banner .um-img-wrapper img {
}

.um-banner-bottom {text-align:center;}

.um-banner-content {
    max-width:387px;
}

.um-banner-word {margin-bottom:20px;}


/****************
     Main
***************/
.um-main {height:150vh; background:#000;}
.um-main-parallax {contain:paint;}

.um-main-content {
    padding-bottom:20%;
    padding-top:16.3%;
    position:sticky;
    top:1px;
    mix-blend-mode:difference;
}

.um-main-title {
    max-width:472px; color:var(--um-primary-color);
    font-size:45px;
    text-align:center;
}

.um-parallax {
    --size:275px;
    width:275px; aspect-ratio:275/434;
    position:absolute;
    transition:all 0.5s linear;
    transform:translateY(0);
    background:#fff;
}


.um-parallax:nth-child(1) {;
    top:25%;
    left:10%;
}

.um-parallax:nth-child(2) {
    top:20%;
    left:70%;
}

.um-parallax:nth-child(3) {
    top:30%;
    left:40%;
}


.um-parallax:nth-child(4) {
    top:80%;
    left:32%;
}


.um-parallax:nth-child(5) {
    top:65%;
    left:70%;
}


.um-parallax:nth-child(6) {
    top:80%;
    left:90%;
}


/****************
     Slide
***************/
.um-main-slide-wrapper {
    height:300vh;
}

.um-main-slide {
    position:sticky;
    top:1px;
    background:#000;
    contain:paint;
}
.um-slide-img-wrapper {position:relative; transition:all .3s ease-in-out; transform:translate(0); display:flex;}

.um-slide-img-wrapper:nth-child(2) {transform:translateX(-100%);}

/*.um-slide-row {display:flex;}*/

.um-slide {min-width:33.3%;aspect-ratio:474/382;}

.footer {
    padding-bottom:400px;

}
.um-test {height:300vh; background:#fdc609}
/****************
     Style
***************/
.btn {
    display:inline-block;
    border:1px var(--um-primary-color) solid;
    color:var(--um-primary-color); font-weight:700;
    padding:8px 20px;
    margin-bottom:25px;
}

p {font-size:16px; margin-bottom:30px; font-weight:700; text-transform:uppercase; color:var(--um-primary-color);}