<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="../assets/fonts/fonts.css" rel="stylesheet">
    <link href="../assets/css/reset.css" rel="stylesheet">
    <link href="atomic/atomic.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="">
<div class="um ps-relative">
    <header class="um-header fl-center-v ps-absolute z2">
        <div class="um-logo ml-auto mr-auto">
            <img alt="" src="../assets/images/logo.svg">
        </div>
    </header>

    <div class="um-banner z1">
        <div class="um-banner-top um-img-wrapper img-wrapper-cover">
            <img alt="" src="../assets/images/banner.jpg">
        </div>

        <div class="um-banner-bottom fl-center-v fd-column ps-absolute b0 ab-center-h">
            <div class="um-banner-content ta-center">
                <div class="btn">JE VEUX LOUER</div>
                <p>Louez n'importe quel scooter
                    ou voiture par l'intermédiaire de vos médias sociaux</p>
            </div>
            <div class="um-banner-word">
                <img alt="" src="../assets/images/word-banner.svg">
            </div>
        </div>
    </div>
</div>

<main class="um-main ">
    <div class="um-main-parallax  ps-relative h100">

        <div class="um-main-content fl-center-h z2">
            <h2 class="um-main-title">LA VIE EST TROP
                COURTE POUR
                CONDUIRE DES
                VÉHICULES
                ORDINAIRES</h2>
        </div>
        <div class="um-main-images ab-full ">
            <div class="um-parallax img-wrapper-cover">
                <img alt="" class="parallax-img-1" src="../assets/images/main.jpg">
            </div>
            <div class="um-parallax img-wrapper-cover">
                <img alt="" class="parallax-img-2" src="../assets/images/main.jpg">
            </div>
            <div class="um-parallax img-wrapper-cover">
                <img alt="" class="parallax-img-3" src="../assets/images/main.jpg">
            </div>
            <div class="um-parallax img-wrapper-cover">
                <img alt="" class="parallax-img-3" src="../assets/images/main.jpg">
            </div>
            <div class="um-parallax img-wrapper-cover">
                <img alt="" class="parallax-img-3" src="../assets/images/main.jpg">
            </div>
            <div class="um-parallax img-wrapper-cover">
                <img alt="" class="parallax-img-3" src="../assets/images/main.jpg">
            </div>
        </div>
    </div>

    <div class="um-main-slide-wrapper">

        <div class="um-main-slide">
            <div class="um-slide-img-wrapper">

                <div class="um-slide img-wrapper-cover">
                    <img alt="" class="" src="../assets/images/car.jpg">
                </div>
                <div class="um-slide img-wrapper-cover">
                    <img alt="" class="" src="../assets/images/car.jpg">

                </div>
                <div class="um-slide img-wrapper-cover">
                    <img alt="" class="" src="../assets/images/car.jpg">
                </div>

                <div class="um-slide img-wrapper-cover">
                    <img alt="" class="" src="../assets/images/car.jpg">
                </div>
                <div class="um-slide img-wrapper-cover">
                    <img alt="" class="" src="../assets/images/car.jpg">

                </div>
                <div class="um-slide img-wrapper-cover">
                    <img alt="" class="" src="../assets/images/car.jpg">

                </div>
            </div>

            <div class="um-slide-img-wrapper">


                <div class="um-slide img-wrapper-cover">
                    <img alt="" class="" src="../assets/images/car.jpg">
                </div>
                <div class="um-slide img-wrapper-cover">
                    <img alt="" class="" src="../assets/images/car.jpg">

                </div>
                <div class="um-slide img-wrapper-cover">
                    <img alt="" class="" src="../assets/images/car.jpg">

                </div>

                <div class="um-slide img-wrapper-cover">
                    <img alt="" class="" src="../assets/images/car.jpg">
                </div>
                <div class="um-slide img-wrapper-cover">
                    <img alt="" class="" src="../assets/images/car.jpg">

                </div>
                <div class="um-slide img-wrapper-cover">
                    <img alt="" class="" src="../assets/images/car.jpg">
                </div>
            </div>
        </div>
    </div>


    <div class="um-test">
    </div>
</main>


<div class="footer"></div>

<script src="script.js"></script>
</body>
</html>